<section class="grid sm:grid-cols-[320px_1fr] gap-x-5">
  <header
    class="col-span-full text-4xl py-5 mb-5 border-[0] border-b-4 border-solid border-b-indigo-500"
  >
    <h1 class="m-0">NG Notes</h1>
  </header>

  <aside class="grid gap-y-5">
    <p-button label="New note" (onClick)="showDialog()" styleClass="w-full" />
    <p-listbox
      [options]="notes"
      [(ngModel)]="selectedNote"
      optionLabel="header"
      (onClick)="navigateTo($event.value)"
    />
  </aside>

  <section *ngIf="selectedNote" class="relative pr-14">
    <p-button
      icon="pi pi-times"
      styleClass="p-button-rounded p-button-text absolute right-0"
      (onClick)="closeNote()"
    ></p-button>
    <p>{{ selectedNote.text }}</p>
  </section>

  <p-dialog
    header="Create New Note"
    [(visible)]="visible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    styleClass="sm:w-1/2 w-11/12"
  >
    <form
      [formGroup]="newNoteForm"
      (ngSubmit)="onSubmit()"
      class="grid gap-y-4"
    >
      <input
        type="text"
        pInputText
        id="header"
        formControlName="header"
        class="w-full"
        placeholder="Header"
      />

      <textarea
        pInputTextarea
        [autoResize]="true"
        formControlName="text"
        id="text"
        class="w-full min-h-[70px]"
        placeholder="Text..."
      ></textarea>

      <p-button
        [disabled]="!newNoteForm.valid"
        type="submit"
        label="Submit"
        class="mt-auto"
      />
    </form>
  </p-dialog>
</section>
